h1 {
    text-align: center;
}

section#about {
    @include flex-position($x:space-around);
    padding: 40px;

    #about-txt {
        h2 {
            color: var(--primary-color);
            letter-spacing: 2px;
            font-size: 2em;
            margin-bottom: 25px;
            border-bottom: 1px solid var(--primary-color);
            padding-bottom: 25px;
        }

        p, address{
            font-size: 1.5em;
            display: inline;
        }
        
        address {
            color: var(--primary-color);
        }

        width: 40%;
    }

    img#about-img {
        width: 30%;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        animation: morphing 10s infinite;
    }
}

footer {
    @include box-styles(
        $min-width: 100%,
        $height: 20dvh,
        $bg: var(--primary-color),
        $clr: var(--white-color),
        $padding: 2rem,
        $margin: 0,
        $border: none,
        $b-radius: none
    );
}
