//- boilerplate
include ./boilerplate/_mixins
//- include ./boilerplate/_site-data
//- include ./boilerplate/_vars
include ./boilerplate/_icons
include ./boilerplate/_head



//- components
include ./components/_navbar.pug
include ./components/_bg-vid.pug
