//- ...
include ../lib/_manager



//- ...
doctype html
html(lang="en" data-theme="light")



    //- ...
    +head(brandName, "styles.css")



    //- ...
    body 
        header
            +navBar(brandName, linksArr)
            main
                h1 !{heroTitle}
        section#about
            #about-txt
                h2 !{aboutTitle}
                +aboutTxt()
            img#about-img(src="./images/sam-suit.jpg", alt="SAM'S PIC")


        //- ...
        +loadScripts()
