//- ...
include ../lib/_manager



//- ...
doctype html
html(lang="en" data-theme="light")



    //- ...
    +head(brandName, "styles.css")



    //- ...
    body 
        header#home
            +navBar(brandName, linksArr)
            main
                h1 !{heroTitle}
        section#about
            #about-txt
                h2 !{aboutTitle}
                +aboutTxt()
            img#about-img(src="./images/sam-suit.jpg", alt="SAM'S PIC")
        section#testimonials
            h2 WIP
        section#services
            h2 WIP
        section#faq
            h2 F.A.Q
            .faq-box
                .question #[span !{question}]
                //- br
                .answer #[span !{answer}]
        section#call
            h2 WIP
        footer
            h2 Copyright ©#[span#year] All rights reserved


        //- ...
        +loadScripts()
        script
            | document.querySelector('#year').textContent = new Date().getUTCFullYear()
