//- ...
include ../lib/_manager



//- ...
doctype html
html(lang="en" data-theme="light")



    //- ...
    +head(brandName, "styles.css")



    //- ...
    body 
        //- header
        //-     +videoBg()
        //-     +navBar(imgLogo, undefined)
        //-     main
        //-         h1 !{heroTitle}
        //- section
        //-     h2 WIP
        h1 Solid


        //- ...
        +loadScripts()
