//- //- ...
//- include ./lib/_manager



//- //- ...
//- doctype html
//- html(lang="en" data-theme="light")



//-     //- ...
//-     +head(brandName, indexStylesPath+"index.css", customHead)



//-     //- ...
//-     body 
//-         header
//-             +videoBg()
//-             +navBar(imgLogo, undefined)
//-             main
//-                 h1 !{heroTitle}
//-         section
//-             h2 WIP


//-         //- ...
//-         +loadScripts(indexScriptsPath)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        h1 Hiiiii