-
    const brandName = "Sam's X Management"
    const description = "Creating Your X Dream"
    const keywords = "X, Management"
    const imgLogo = "https://cdn-cms-s.f-static.net/manager/websites/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=y83597"
    const heroTitle = "CREATING YOUR X DREAM WITH UNMATCHED"

-
    const linksArr = [
        {'Home':'#'},
        {'About':'#'},
        {'Testimonials':'#'},
        {'Services':'#'},
        {'F.A.Q':'#'},
        {'Book a call':'#'}
    ]
