-
    const brandName = "Sam's X Management"
    const description = "Creating Your X Dream"
    const keywords = "X, Management"
    const imgLogo = "https://cdn-cms-s.f-static.net/manager/websites/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=y83597"
    const heroTitle = "CREATING YOUR X DREAM WITH UNMATCHED:<br>TWEETS - THREADS - ADVICE & MORE"

-
    const linksArr = [
        {'Home':'#home'},
        {'About':'#about'},
        {'Testimonials':'#testimonials'},
        {'Services':'#services'},
        {'F.A.Q':'#faq'},
        {'Book a call':'#call'}
    ]

-
    const aboutTitle = "ABOUT SAM"
mixin aboutTxt()
    p Hi I'm Sam, I was born on the 21st of June, which is the longest day of the year!#[br]#[br]Personally, I love striving towards being the best version of myself with work ethic, exercise, mindset and all the rest.#[br]#[br]Always being respectful and understanding makes me a great person to be around. At all times I'm approachable, being nervous to talk to me is unheard of.#[br]#[br]Some of my favourite hobbies consist of playing football/soccer, working out and writing.#[br]#[br]You can contact me on X: #[address @Wrotebysam]#[br]#[br]
    p Or via email: #[address @sjtcopywriting2106@gmail.com]

-
    const question = "What happens if I don't get my wanted results?"
    const answer = "I will continue working with you for free until you get the results, then you can pay."