-
    var brandName = "Sam's X Management"
    var description = "Creating Your X Dream"
    var keywords = "X, Management"
    var imgLogo = "https://cdn-cms-s.f-static.net/manager/websites/site123_website/files/logos/brand_files_2020/Icons/Png/Icon_blue.png?v=y83597"
