// NOTE: DOC's
// color shadows -> filter: saturate($dark-saturation);



:root {
    --primary-color: #009ddf;
    --secondary-color: #202337;
    --accent-color: #FF25BE;

    --font-color: #0A0B0F;
    --bg-color: #fff;
    --shadow-color: #202122;

    --debug-border-color: rgb(218, 26, 26);
}

[data-theme="light"] {
    --font-color: #fff;
    --bg-color: #0A0B0F;
    --shadow-color: #ddd9d9;
}
