// NOTE: DOC's
// color shadows -> filter: saturate($dark-saturation);



:root {
    --primary-color: rgb(0, 157, 223);
    --secondary-color: #202337;
    --accent-color: #FF25BE;

    --font-color: #fff;
    --bg-color: #0A0B0F;
    --shadow-color: hsla(198, 100%, 44%, 0.3);

    --debug-border-color: rgb(218, 26, 26);
}

// [data-theme="light"] {
//     --font-color: #fff;
//     --bg-color: #0A0B0F;
//     --shadow-color: #ddd9d9;

//     --font-color: #0A0B0F;
//     --bg-color: #fff;
//     --shadow-color: #202122;
// }
